@model E_Commerce.WebUI.Models.ProductListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <ul class="d-inline navbar-nav mr-auto">
        <li class="nav-item active">
            <form asp-controller="Product" asp-action="Index">
                <input type="radio" class="btn btn-light" /> Sorder Price
                <input type="radio" class="btn btn-light" /> Sorder Name
            </form>


        </li>
        <li class="nav-item">
            <form asp-controller="Product" asp-action="Index">

                
            </form>
        </li>
    </ul>
    <table class="table">
        <tr>
            <td>
                Product Name
            </td>
            <td>
                Unit Price
            </td>
            <td>
                Unit In Stock
            </td>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
            </tr>
        }
    </table>

</div>